.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
}

.customer-table th,
.customer-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.customer-table th {
  background-color: #f4f4f4;
  color: #333;
}

.customer-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.customer-table tbody tr:hover {
  background-color: #f1f1f1;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
}

button.edit {
  background-color: #3498db;
}

button.delete {
  background-color: #e74c3c;
  margin-left: 5px;
}
/* Add styles for pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  align-self: center;
}

.pdf-button {
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background transition */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 20px; /* Space above the button */
  display: inline-block;
  text-align: center;
}

.pdf-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.pdf-button:disabled {
  background-color: #c3e6cb; /* Light green when disabled */
  cursor: not-allowed; /* Not-allowed cursor on hover when disabled */
  box-shadow: none; /* Remove shadow when disabled */
}
